* {
  margin: 0;
  padding: 0;
}

body {

}

#container {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
}

#board-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 228px);
  margin: 5px;
  background-color: black;
  gap: 5px;
}

.table {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}

.tableOff {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  pointer-events: none !important;
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

.line {
  width: 100%;
}

input {
  width: 100%;
  height: 100%;
}

input {
  font-size: 30px;
}

.inputOff {
  font-size: 30px;
  pointer-events: none;
  cursor: not-allowed;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'Rocher';
  text-align: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

#log {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

#log p {
  position: absolute;
  width: 100%;
  text-align: center;
  animation: slideUp 1s ease-in-out;
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

p {
  margin: 0;
  font-size: 37px;
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}

@keyframes vanish{
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    overflow: hidden;
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
